<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SchemaUpdater</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GenerateChangelogServlet</display-name>
    <servlet-name>GenerateChangelogServlet</servlet-name>
    <servlet-class>com.servlet.GenerateChangelogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateChangelogServlet</servlet-name>
    <url-pattern>/generatechangelog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyChangelogServlet</display-name>
    <servlet-name>ApplyChangelogServlet</servlet-name>
    <servlet-class>com.servlet.ApplyChangelogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyChangelogServlet</servlet-name>
    <url-pattern>/applychangelog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadChangelogServlet</display-name>
    <servlet-name>DownloadChangelogServlet</servlet-name>
    <servlet-class>com.servlet.DownloadChangelogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadChangelogServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryServlet</display-name>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>com.servlet.HistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFileServlet</display-name>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>com.servlet.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/deletefile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSchemasServlet</display-name>
    <servlet-name>ListSchemasServlet</servlet-name>
    <servlet-class>com.servlet.ListSchemasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSchemasServlet</servlet-name>
    <url-pattern>/listschemas</url-pattern>
  </servlet-mapping>
</web-app>